In [3]:
import pandas as pd
from sklearn.linear_model import LinearRegression

In [4]:
data=pd.read_csv("USA_Housing (1).csv")

In [5]:
data.head()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price,Address
0,79545.458574,5.682861,7.009188,4.09,23086.800503,1.059034e+06,"208 Michael Ferry Apt. 674\nLaurabury, NE 3701..."
1,79248.642455,6.002900,6.730821,3.09,40173.072174,1.505891e+06,"188 Johnson Views Suite 079\nLake Kathleen, CA..."
2,61287.067179,5.865890,8.512727,5.13,36882.159400,1.058988e+06,"9127 Elizabeth Stravenue\nDanieltown, WI 06482..."
3,63345.240046,7.188236,5.586729,3.26,34310.242831,1.260617e+06,USS Barnett\nFPO AP 44820
4,59982.197226,5.040555,7.839388,4.23,26354.109472,6.309435e+05,USNS Raymond\nFPO AE 09386

In [6]:
X=data.iloc[ : , :5]
Y=data["Price"]

In [7]:
lr=LinearRegression()

In [8]:
lr.fit(X,Y)

LinearRegression()

In [9]:
 model.predict([[79545.458574,5.682861,7.009188,4.09,23086.800503]])

NameError: name 'model' is not defined

In [10]:
import pickle

In [11]:
model=pickle.dump(lr , open('model.pkl' , 'wb'))
print(model)

None

In [12]:
model=pickle.load(open('model.pkl' , 'rb'))
print(model)

LinearRegression()